<div id="project_config_slack" class="well">
  <button class="btn btn-success" ng-click="save()" ng-disabled="saving">Save</button>
  <button class="btn btn-info" ng-click="help()">Help</button>
  <fieldset>
    <legend>Configuration</legend>
    <input type="text" class="span2"
    ng-model="config.subdomain"
    placeholder="Subdomain">
    <span style="font-size:2em">.slack.com</span>
    <br>
    <input type="text" class="span4"
    ng-model="config.token"
    placeholder="Incoming Webhook Token">
  </fieldset>

  <fieldset>
    <legend>Customization</legend>
    <label for="icon_url">Icon URL</label>
    <input type="text" name="icon_url" class="span4"
    ng-model="config.icon_url">
    <br>
    <label for="channel">Channel</label>
    <input type="text" name="channel" class="span4"
    ng-model="config.channel">
    <br>
    <label for="username">Username of Sender</label>
    <input type="text" name="username" class="span4"
    ng-model="config.username">
    <br>
    <label for="test_pass_message">Test Pass Message</label>
    <textarea name="test_pass_message" ng-model="config.test_pass_message"></textarea>
    <br>
    <label for="test_fail_message">Test Fail Message</label>
    <textarea name="test_fail_message" ng-model="config.test_fail_message"></textarea>
    <br>
    <label for="deploy_pass_message">Deploy Pass Message</label>
    <textarea name="deploy_pass_message" ng-model="config.deploy_pass_message"></textarea>
    <br>
    <label for="deploy_fail_message">Deploy Fail Message</label>
    <textarea name="deploy_fail_message" ng-model="config.deploy_fail_message"></textarea>
  </fieldset>
  <button class="btn btn-success" ng-click="save()" ng-disabled="saving">Save</button>
  <button class="btn btn-info" ng-click="help()">Help</button>
</div>

<div id="ejs_hint" class="modal hide fade" role="dialog" aria-hidden="true">
  <div class="modal-body"> 
    <ul class="nav nav-tabs">
      <li><a href="#bitbucket_hook_hint" data-toggle="tab">Bitbucket Hook</a></li>
      <li><a href="#manual_retest_hint" data-toggle="tab">Manual Retest</a></li>
    </ul> 
    <p>
    Attributes of the <b>job</b> object are available in your message fields.
    Depending on what triggered the event, different data is available.
    For your convenience in crafting your message template, here are
    typical representations of the object by trigger.
    </p>
    <div style="clear:both" class="tab-content">
      <div class="tab-pane active" id="bitbucket_hook_hint"></div>
      <div class="tab-pane" id="manual_retest_hint"></div>
    </div>
  </div>
</div>
